//375px base--------------------------------------
.about {
  background-color: $white;
}

.about__header {
  padding: 0 8vw;
}
.about__title {
  padding-top: 35.47vw;
  @include h1($black);
}
.about__copy {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding-top: 10.67vw;
  p {
    margin-bottom: 12.8vw;
    @include body-copy($black);
  }
  a {
    width: 135px;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid $black;
    padding-bottom: 10px;
    @include label($black);
  }
}
.about-videos__info {
  p {
    @include label($black);
  }
  p:first-child {
    padding: 24px 0 10px 8vw;
  }
  p:last-child {
    padding-left: 8vw;
    margin-bottom: 12.8vw;
  }
}
//MQ's- sm>>lrg--------------------------------
@include media-min($ipad) {
  .about__title {
    padding-top: 20vw;//guess - no ipad styles yet
  }
}
@include media-min($desktop) {
  .about__header {
    padding: 0 10vw;
  }
  .about__title {
    padding: 12.2vw 6vw 0 6vw;
    max-width: 41.67vw;
  }
  .about__copy {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 6vw 0 6vw;
    p {
      margin-bottom: 0;
      max-width: 980px;
      width: 41.67vw;
    }
  }
  .about-videos__info {
    p:first-child {
      padding: 24px 0 10px 10vw;
    }
    p:last-child {
      padding-left: 10vw;
      margin-bottom: 8vw;
    }
  }
}