//375px base--------------------------------------
.about {
  background-color: $white;
}
.about__header {
  margin-bottom: calc(12.5vw + 12.5px);
  div.pull-quote {
    padding-top: 25vw;
  }
}
#about__email-link {
  margin: 0 6.25vw;
  width: 150px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $black;
  padding-bottom: 12.5px;
  @include body-copy($black);
  transition: opacity 200ms ease-out;
}
#about__email-link:hover {
  opacity: .4;
  transition: opacity 200ms ease-out;
}
.about-videos__info {
  padding: 0 6.25vw 12.5vw 6.25vw;
  p {
    @include label($black);
  }
  p:first-child {
    padding-top: 8px;
  }
}
@include media-min($ipad) {
  .about__header {
    margin-bottom: 11.5px;
    div.pull-quote {
      padding-top: 18.75vw;
    }
  }
  #about__email-link { 
    margin: 0 12.5vw;
  }
  .about-videos__info {
    padding: 0 12.5vw 9.375vw 12.5vw;
  }
}
@include media-min($ipad-pro) {
  .about__header {
    margin-bottom: 11.5px;
    div.pull-quote {
      padding-top: 12.5vw;
    }
  }
  #about__email-link { 
    margin: 0 16.667vw;
  }
  .about-videos__info {
    padding: 0 8.333vw 6.25vw 8.333vw;
  }
}
@include media-orientation($ipad-pro, 1279px, landscape) {
  .about__header {
    margin-bottom: 11.5px;
    div.pull-quote {
      padding-top: 16.667vw;
      
    }
  }
  #about__email-link { 
    margin: 0 16.667vw;
  }
  .about-videos__info {
    padding: 0 8.333vw 8.333vw 8.333vw;
  }
}