//casestudy root
.casestudy { 
  &.casestudy--dark {
    background-color: $black;
    color: $white;
  }
  &.casestudy--light {
    background-color: $white;
  }
}

.casestudy-hero {
  width: 33vw;
}
