.work > div {
  background-color: $black;
  margin: 16.667vw 12.5vw;
  
  height: 100%;
}

@include media-min($ipad-pro) {
  .work {
    // padding: 10vw 10vw;
  }
}

@include media-min(1680px) {
  .work {
    // padding: 10vw 14vw;
  }
}