  div.home-header-gallery {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100vw;
  }
  
  div.home-header-gallery-wrap {
    height: 60vh;
    display: flex;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    touch-action: pan-y;
    overflow-x: auto;
    align-items: center;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  img.home-header-gallery-images{
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 80vw;
    margin-left: 7vw;
  }

   // TRANSITIONS / ANIMATIONS --------------
  
   img.is--active {
    opacity: 1;
    transition: opacity 500ms ease-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-transition: opacity 500ms ease-out;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
   //  transform: translate3d(0px, 0px, 0px)
   }
   
   img.animate {
      opacity: 0;
      // transform: translate3d(0, 0px, 0); transform 400ms ease-out; - to bottom transition
      transition: opacity 500ms ease-out;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      -webkit-transition: opacity 500ms ease-out;
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
   }
   
   // img.animate--horz {
   //   transform: translate3d(40px, 0px, 0px)
   // }

//blanket desktop setting for dev purposes. default is mobile
@media (min-width: 1024px) {
  
  img.home-header-gallery-images{
    width: 36vw;
  }
}