/*-------------------home page styles go here---------------*/

.homepage__body {
  @include entire-viewport;
}

div.homepage__casestudies-featured {
  background-color: $black;
  color: $white;
  padding-top: $l-size;
  position: relative;
  z-index: 3;
}