.isLoading{
  position: absolute;
  z-index: 1000;
  background-color: $black;
  @include entire-viewport;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    padding: 0 20vw;
    width: 256px;
    animation: fade .5s ease-in-out;
  }
  @keyframes fade {
    0% {opacity: 0}
    100% {opacity: 1}
  }
  @keyframes loading {
    //put loading animation here
  }
}
.loaded {
  display: none;
  pointer-events: none;
}

@include media-min($ipad) {
  .isLoading {
    svg {
      padding: 0 33.333vw;
    }
  }
}
@include media-min($ipad-pro) {
  .isLoading {
    svg {
      padding: 0 37.5vw;
    }
  }
}