.body-copy{
  @include body-copy(inherit);
  @include text-vertical-rhythm;
  padding-right: 6.25vw;
  padding-left: 6.25vw;
  white-space:pre-line;
}
@include media-min($desktop) {
  .body-copy{
    padding: 16.667vw 16vw 0 16vw;
    max-width: 600px;
  }
  .body-copy--flex {
    display: flex;
    width: 100%;
    &.--center {
      justify-content: center;
    }
    &.--left {

    }
    &.--right {
     flex-direction: row-reverse;
    }
    &.--two-column {
      .body-copy {
        width: 84vw;
        column-count: 2;
        column-gap: 48px;
        max-width: 84vw;
      }
    }
    &.--wide {
      width: 50vw;
    }
  }
}