div.header-gallery {
  overflow: hidden;
}
div.gallery {
  @include slider-base;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none !important;
  }
}
div.gallery--wrap {
  @include slider-wrap;
  padding: 34.133vw 0 0 20vw;
  img:nth-child(n+2) {
    margin-left: 8vw;
  }
  img:last-child {
    padding-right: 20vw;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
}
img.gallery__images{
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 66.667vw;
}
@include media-min($desktop) {
  div.gallery--wrap {
    @include slider-wrap;
    padding: 16.667vw 0 0 10vw;
    img:nth-child(n+2) {
      margin-left: 6.4vw;
    }
    img:last-child {
      padding-right: 10vw;
    }
  }
}