.casestudy__header {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  h1{
    @include h1(inherit);
    &.black {
      @include h1($black);
    }
    &.white {
      @include h1($white);
    }
  }
  @include entire-viewport;
  .header--info {
    max-width: 87.2vw;
    padding: 12.8vw 6.4vw;
    :first-child {
      padding-bottom: 24px;
    }
  }
}
@include media-min($desktop) {
  .casestudy__header {
    .header--info {
      max-width: 50vw;
      padding: 3.33vw;
    } 
  }
  
}