.casestudy__header {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  h1{
    @include h1(inherit);
    &.black {
      @include h1($black);
    } 
    &.white {
      @include h1($white);
    }
  }
  @include entire-viewport;
  .header-slice__info {
    padding: 6.25vw;
  #XGb4LBEAAB8AbT4j--titleCopy {
      padding-bottom: 32px;
    }
  }
}
@include media-min($ipad-pro) {
  .casestudy__header {
    .header-slice__info {
      padding: 48px;
    }
  }
}
@include media-orientation($ipad-pro, 1279px, landscape) {
  .casestudy__header {
    .header-slice__info {
      width: 56%;
    }
  }
}
@include media-min($desktop) {
  .casestudy__header {
    .header-slice__info {
      width: 56%;
    } 
  }
}
@include media-min($desktop-xl) {
  .casestudy__header {
    .header-slice__info {
      padding: 56px;
    }
  }
}
@include media-min($desktop-xxl) {
  .casestudy__header {
    .header-slice__info {
      padding: 64px;
    }
  }
}