.media {
  @include media-vertical-rhythm;
  img, video{
    width: 100%;
  }
  &.autoplay-hero {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include entire-viewport;
    padding: 0;
    video {
      flex-shrink: 0;
      height: 100%;
      width: auto;
    }
  }
  &.homepage-header__vid {
    padding: 0;
    display: flex;
    justify-content: center;
    video {
      min-height: 100vh;
      flex-shrink: 0;
      object-fit: cover;
    }
  }
  &.media--about {
    padding-bottom: 0;
  }
}
.media--wide {
  padding-left: 6.25vw; 
  padding-right: 6.25vw;
  &.video-player--wrap {
    //height: 44.52vw;
    height: 45vw;
  }
}
.media--fullwidth {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
  &.video-player--wrap {
    height: 53vw;
  }
}
.media--narrow {
  padding-left: 25vw;
  padding-right: 25vw;
}
//click-vid-module
div.video-player > div {
  background: transparent !important;
}

//mediaqueries---------------------------------
@include media-min($ipad) {
  .media--wide {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    &.video-player--wrap {
      height: 40vw;
    }
  }
}
@include media-min($ipad-pro) {
  .media--narrow {
    padding-left: 29.1667vw;
    padding-right: 29.16667vw;
  }
  .media--wide {
    padding-left: 8.333vw;
    padding-right: 8.333vw;
    &.video-player--wrap {
      height: 44.52vw;
    }
  }
}
@include media-orientation($ipad-pro, 1279px, landscape) {
  .media--wide {
    &.video-player--wrap {
      height: 44.52vw;
    }
  }
}
@include media-min($desktop) {
  .media {
    &.autoplay-hero {
      padding: 0;
      video {
        min-width: 100%;
        height: auto;
        min-height: 100%;
      }
    }
  }
  .media--wide {
    &.video-player--wrap {
        height: 42.4vw;
    }
  }
}
@include media-min($desktop-xxl) {
  .media--narrow {
    padding-left: 33.3333vw;
    padding-right: 33.3333vw;
  }
}


// .media {
//   padding-top: 34.133vw;
//   img, video{
//     width: 100%;
//   }
//   &.autoplay-hero {
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     @include entire-viewport;
//     padding: 0;
//     video {
//       flex-shrink: 0;
//       height: 100%;
//       width: auto;
//     }
//   }
//   &.homepage-header__vid {
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     video {
//       min-height: 100vh;
//       flex-shrink: 0;
//       object-fit: cover;
//     }
//   }
// }
// .media--wide {
//   padding-left: 8vw; 
//   padding-right: 8vw;
//   width: 84vw;
//   &.video-player--wrap {
//     height: 44.52vw;
//   }
// }
// .media--fullwidth {
//   width: 100vw;
//   &.video-player--wrap {
//     height: 53vw;
//   }
// }
// .media--narrow {
//   padding-left: 20vw;
//   padding-right: 20vw;
//   width: 60vw;
// }

// //click-vid-module
// div.video-player > div {
//   background: transparent !important;
// }

// //mediaqueries---------------------------------
// @include media-min($desktop) {
//   .media {
//     padding-top: 16.67vw;
//     &.autoplay-hero {
//       padding: 0;
//       video {
//         min-width: 100%;
//         height: auto;
//         min-height: 100%;
//       }
//     }
//   }
//   .media--wide {
//     padding-left: 10vw;
//     padding-right: 10vw;
//     width: 80vw;
//     &.video-player--wrap {
//         height: 42.4vw;
//     }
//   }
//   .media--narrow {
//     padding-left: 28vw;
//     padding-right: 28vw;
//     width: 44vw;
//   }
// }




