.pull-quote {
  padding: 34.133vw 8vw 0 8vw;
  h2 {
    @include h2(inherit);
  }
}
@include media-min($desktop) {
  .pull-quote {
    padding: 16.667vw 16vw 0 16vw;
    &.--wide {
      max-width: 980px;
    }
    &.--left {
      max-width: 600px;
    }
  }
}