.pull-quote {
  @include text-vertical-rhythm;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  h2 {
    @include h2(inherit);
  }
}
@include media-min($ipad) {
  .pull-quote {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }
}
@include media-min($ipad-pro) {
  .pull-quote {
    padding-left: 16.667vw;
    padding-right: 16.667vw;
  }
}
@include media-min($desktop) {
  .pull-quote {
    
    &.--wide {
    
    }
    &.--left {
   
    }
  }
}