.text-dyptich {
  @include text-vertical-rhythm;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}
.text-dyptich--wrap {
  h2 {
    @include h2(inherit);
    padding-bottom: 12.5vw;
  }
  p {
    @include body-copy(inherit);
  }
}
@include media-min($ipad) {
  .text-dyptich {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }
  .text-dyptich--wrap {
    display: flex;
    justify-content: center;
    h2 {
      width: calc(50% - 6.25vw);
      padding: 0 6.25vw 0 0;
    }
    p {
      width: 50%;
    }
  }
}
@include media-min($ipad-pro) {
  .text-dyptich {
    padding-left: 16.667vw;
    padding-right: 16.667vw;
  }
  .text-dyptich--wrap {
    h2 {
      width: calc(50% - 4.167vw);
      padding-right: 4.167vw;
    }
  }
}
@include media-min($desktop-lrg) {
  .text-dyptich--wrap {
    p {
      padding-top: 2px;
    }
  }
}
@include media-min($desktop-xl) {
  .text-dyptich--wrap {
    p {
      padding-top: 4px;
    }
  }
}
@include media-min($desktop-xxl) {
  .text-dyptich--wrap {
    p {
      padding-top: 6px;
    }
  }
}
