.casestudy__title {
  h1 {
    @include h0(inherit);
  }
  padding: 12.5vw  6.25vw 0 6.25vw;
  @include media-min($ipad) {
    padding: 9.375vw 6.25vw 0 6.25vw;
    text-align: center;
  }
  @include media-min($ipad-pro) {
    padding: 8.333vw 8.333vw 0 8.333vw;
  }
  @include media-orientation($ipad-pro, 1279px, landscape) {
    padding-top: 6.25vw;
  }
  @include media-min($desktop) {
    padding-top: 4.165vw;
  }
}