//blanket fade --------------------
.is--active {
  @include fade(1);
 }
 
.animate {
  @include fade(0);
 }
//slider&gallery transform ----------
.transform {
  transition: transform 600ms ease;
  transform: translate3d(19px, 0, 0);
  &.is--transform {
    transition: transform 600ms ease;
    transform: translate3d(0, 0, 0);
  }
}
@include media-min($iphoneSE) {
  .transform {
    transition: transform 800ms ease;
    transform: translate3d(17px, 0, 0);
    &.is--transform {
      transition: transform 800ms ease;
      transform: translate3d(0, 0, 0);
    }
  }
}
@include media-min($desktop) {
.transform {
  transition: transform 800ms ease;
  transform: translate3d(40px, 0, 0);
  &.is--transform {
    transition: transform 800ms ease;
    transform: translate3d(0, 0, 0);
  }
}
}
//backup fade for all pages------
.--isLoaded {
  animation: fade 1s linear;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//home page parallax
.--parallax {
  // transform: translate3d(0px, -98vh, 1px) scale(.5);
  @include media-min($desktop) {
    transform: translateZ(-1px) scale(1.5);
    -webkit-transform: translateZ(-1px) scale(1.5);
    transform-origin: center;
    -webkit-transform-origin: center;
    z-index: -1;
  }
  
}

.parallax--wrap {
  @include media-min($desktop) {
    height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  transform-style: preserve-3d;
  }
  
}

// //playing w/ react transition group - 
// .fade-enter {
//   opacity: 0;
//   color: black;
// }

// .fade-enter.fade-enter-active {
//   opacity: 1;
//   background-color: blue;
//   transition: opacity 3000ms ease;
// }

// .fade-enter-done {
//   background-color: pink;
// }

// .fade-appear {
//   opacity: 0;
//   color: black;
// }

// .fade-appear.fade-appear-active {
//   opacity: 1;
//  background-color: green;
//   transition: opacity 3000ms ease;
// }
// .fade-leave {
//   opacity: 1;
// }

// .fade-leave.fade-leave-active {
//   background-color: red;
//   opacity:0;
//   transition: opacity 3000ms ease;
// }

// .fade-exit {
//   opacity: 1;
// }

// .fade-exit.fade-exit-active {
//   opacity: 0;
//   background-color: red;
//   transition: opacity 3000ms ease;
// }
  
