//blanket fade --------------------
.is--active {
  @include fade(1);
 }
 
.animate {
  @include fade(0);
 }
//slider&gallery transform ----------
.transform {
  transition: transform 600ms ease;
  transform: translate3d(19px, 0, 0);
  &.is--transform {
    transition: transform 600ms ease;
    transform: translate3d(0, 0, 0);
  }
}

@include media-min($iphoneSE) {
  .transform {
    transition: transform 800ms ease;
    transform: translate3d(17px, 0, 0);
    &.is--transform {
      transition: transform 800ms ease;
      transform: translate3d(0, 0, 0);
    }
  }
}
@include media-min($desktop) {
.transform {
  transition: transform 800ms ease;
  transform: translate3d(40px, 0, 0);
  &.is--transform {
    transition: transform 800ms ease;
    transform: translate3d(10px, 0, 0);
  }
  &.is--transform:hover {
    transition: transform 600ms ease;
    transform: translate3d(0, 0, 0);
  }
}
}
//backup fade for all pages------
.--isLoaded {
  animation: fade 1s linear;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//home page parallax-----------------
.--parallax {
  transform: translate3d(0px, -98vh, 1px) scale(.5);
  @include media-min($desktop) {
    transform: translateZ(-1px) scale(1.5);
    -webkit-transform: translateZ(-1px) scale(1.5);
    transform-origin: center;
    -webkit-transform-origin: center;
    z-index: -1;
  }
  
}

.parallax--wrap {
  @include media-min($desktop) {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    transform-style: preserve-3d;
  }
}

//arrow bounce--------------------------
@keyframes bounce {
  0%{transform: translateY(0px); animation-timing-function: cubic-bezier(.66, 0, .74, 1); }
  43%{transform: translateY(-4px); animation-timing-function: cubic-bezier(.26, 0, .34, 1);}
  86%{transform: translateY(0px); animation-timing-function: cubic-bezier(0, 0, .34, 1);}
}