html {
  //sets rem to base 10 system like pixels
  font-size: 62.5%;
  //for firefox scroll
  scrollbar-width: none;
  overflow: auto;
  // @include media-min($desktop) {
  //   position: fixed;
  //   height: 100%;
  //   overflow: hidden;
  // }
  //^^^ fixes the overflow scroll bounce on desktop
  //but kills the cool nav up and down..... fuck with later
}

body {
 
  font-family: Helvetica, Arial, sans-serif;
  //base font-size is 16px
  font-size: 16px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // @include media-min($desktop) {
  //   width: 100vw;
  //   height: 100vh;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  // }
}

h1, h2, p, img, div, button, a {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: none;
  color:palegreen;
}

button:disabled {
  cursor: default;
}

// TRANSITIONS / ANIMATIONS --------------

.is--active {
  @include fade(1)
 }
 
.animate {
  @include fade(0)
 }
  
