//base layout stuff---------------------------
@mixin entire-viewport {
  height: 100vh;
  width: 100vw;
}

//slice layout stuff-------------------------

@mixin slider-base {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
}

@mixin slider-wrap {
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  touch-action: pan-y;
  overflow-x: auto;
  align-items: center;
}

//transitions / animations--------------------
@mixin fade($opacity: 1) {
  opacity: $opacity;
  transition: opacity 500ms ease-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transition: opacity 500ms ease-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

//mediaqueries-------------------------------






