//base layout stuff---------------------------
@mixin entire-viewport {
  height: 100vh;
  width: 100vw;
}

@mixin full-width {
  width: 100vw;
}

//Typography--root of 10 (think in px/10)-----

@mixin fluid-type($min, $max) {
  font-size: calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 320px) / (2560 - 320)));
}

@mixin micro($color) {
  font-size: 1.4rem;
  line-height: 1;
  color: $color;
}

@mixin label($color) {
  font-size: 1.8rem;
  line-height: 1.667;
  color: $color;
}

@mixin work-card($color) {
  font-size: 18px;
  line-height: 1.6667;
  color: $color;
  @include media-min($desktop-xl) {
    font-size: 20px;
  }
  @include media-min($desktop-xxl) {
    font-size: 24px;
  }
}

@mixin body-copy($color) {
  @include fluid-type(18, 26);
  // font-size: 1.7rem;
  line-height: 1.667;
  color: $color;
  // @include media-min($ipad) {
  //   font-size: 2.2rem;
  // }
} 
@mixin h2($color) {
  font-size: 8vw ;
  line-height: 1.3;
  letter-spacing: -.5px;
  color: $color;
  @include media-min($ipad) {
    font-size: 4.5vw;
  }
  @include media-min($ipad-pro) {
    font-size: 3.333vw;
  }
}

@mixin h1($color) {
  font-size: 9.375vw;
  line-height: 1.3;
  letter-spacing: -.59px;
  color: $color;
  @include media-min($ipad) {
    font-size: 5.5vw;
    letter-spacing: -.5px;
  }
  @include media-min($desktop) {
    font-size: 4vw;
  }
  @include media-min($desktop-lrg) {
    font-size: 3.333vw;
  }
}

@mixin h0($color) {
  font-size: 17vw;
  line-height: 1.25;
  letter-spacing: -.5px;
  color: $color;
  @include media-min($ipad) {
    font-size: 9.375vw;
  }
  @include media-min($ipad-pro) {
    font-size: 8vw; 
  }
  @include media-min($desktop) {
    font-size: 6.667vw;
  }
}

//slice layout stuff-------------------------

@mixin slider-base {
  position: relative;
  // overflow: hidden;
  white-space: nowrap;
  width: 100vw;
}

@mixin slider-wrap {
  @include flexbox;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  touch-action: pan-y;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  //this is for firefox scrollbar
  scrollbar-width: none; 
}

@mixin media-vertical-rhythm {
  padding-top: 12.5vw;
  padding-bottom: 12.5vw ;
  @include media-min($ipad) {
    padding-top: 9.375vw;
    padding-bottom: 9.375vw;
  }
  @include media-min($ipad-pro) {
    padding-top: 8.3335vw;
    padding-bottom: 8.3335vw;
  }
  @include media-orientation($ipad-pro, 1279px, landscape) {
    padding-top: 12.5vw;
    padding-bottom: 12.5vw;
  }
}

@mixin text-vertical-rhythm {
  padding-top: 12.5vw;
  padding-bottom: 12.5vw;
  @include media-min($ipad) {
    padding-top: 9.375vw;
    padding-bottom: 9.375vw;
  }
  @include media-min($ipad-pro) {
    padding-top: 8.3335vw;
    padding-bottom: 8.3335vw;
  }
  @include media-orientation($ipad-pro, 1279px, landscape) {
    padding-top: 12.5vw;
    padding-bottom: 12.5vw;
  }
}

//vendor prefixes-----------------------------

@mixin prefixer($property, $value, $webkit:true, $moz:true, $ms:true) {
  @if $webkit {-webkit-#{$property}: $value;}
  @if $moz {-moz-#{$property}: $value;}
  @if $ms {-moz-#{$property}: $value;}
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//mediaqueries-------------------------------

@mixin media-min($width) {
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin media-orientation($min-width, $max-width, $orientation) {
  @media only screen 
    and (min-width: #{$min-width}) 
    and (max-width: #{$max-width})
    and (orientation: #{$orientation}) {
      @content;
  }
}
