//place to define a theme for our app - defining variables

//COLORS

$black: #000;
$white: #fff;

//SPACING

//root of 10 (think in px/10)
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;


$desktop-breakpoint: 45rem;
$desktop-max-width: 120rem
